.containerReceitas {
    position: relative;
    margin: 20px  ;
    display: flex;
    flex-wrap: wrap;
}
.itemReceitas{
    height: 100%;
    flex-grow: 1;
    flex-basis: 200;
    box-shadow: black -2px 1px 10px;
}

@media (max-width:600px) {
    .containerReceitas {
        margin: 5px;

    }

  
}